@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Source+Sans+Pro');

html {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: url(img/cursor.png), auto;
}

textarea {
	cursor: url(img/cursor.png), auto;
}

button {
	cursor: url(img/cursor.png), auto;
}

#loginOverlay{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	z-index: 10;
}
#box{
	display: block;
	position: fixed;
	background-color: #1d91c3;
	border-radius: 7px;
	width: 600px;
	height: 200px;
	z-index: 10;
	top: 250px;
}
#content{
	background-color: #FFF;
	margin: 3px;
	height: 194px;
}
#boxhead{
	background-color: #1d91c3;
	font-size: 19px;
	padding 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: white;
}
#boxhead h2 {
	margin: 0;
	margin-top: -10px;
}
#boxbody{
	background-color: #FFF;
	padding: 20px;
}
#boxfoot{
	background-color: #FFF;
	padding: 10px;
	text-align: right;
}
#login{
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#login:active {
	background-color: #1d91c3;
	border:2px outset #1d91c3;
	transition: background 0.1s linear;
}

#loginError{
	color: #EE6C4D;
	display: inline;
}


header {
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	font-size: 25px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	min-width: 880px;
	width: 100%;
}

h1{
	padding-top: 17px;
	font-family: 'Caveat Brush', cursive;
	font-size: 70px;
	color: white;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2 {
	color: white;
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
	margin-bottom: 0;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


#wordButtonsDiv {
	display: flex;
	margin-top: 50px;
	flex-direction: row;
}

.wordButton {
	min-width: 100px;
	height: 40px;
	margin: 15px;
	background: linear-gradient(#f7b53b, #FF941C);
}

.wordButton:active {
	border: 2px outset #f7b53b;
	box-shadow: 1px 1px 10px #8e8e8e;
}

.background {
	background: white;
}

.center {
	width: 100%;
	height: 100%;
	min-width: 880px;
	display: flex;
	flex-direction: column;
	background-color: #17D162;
	position: absolute;
	top: 0;
	left: 0;
}

#gameStatusBar {
	border: 2px solid white;
	height: 75px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
  border-radius: 4px;
}

#gameRound {
	float: right;
	margin-top: 5px;
	margin-left: 210px;
	width: 100px;
}

#currentWord {
	width: 500px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: center;
}

#currentWord td{
 	height: 50px;
 	width: 35px;
 	text-align: center;
 }

 #idleCheck {
 	display: none;
	justify-content: center;
}

#areYouStillThere {
	position: fixed;
  background-color: #1d91c3;
  border-radius: 7px;
  width: 450px;
  height: 225px;
  z-index: 10;
	top: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 10px #9c9c9c;
}

#idleHead h2 {
	margin-top: 0;
	color: white;
}

#idleConfirm {
	margin-top: 50px;
	width: 150px;
	height: 40px;
}

#idleConfirm:active {
	border: 2px inset #f7b53b;
}

.timer {
	float: left;
	margin-top: 5px;
	margin-right: 255px;
	width: 55px;
	height: 55px;
	display: flex;
	align-content: center;
}

.timer-icon {
	position: absolute;
	z-index: 1;
}

.text {
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 2;
	display: inline-flex;
	margin: auto;
	font-size: 20px;
	font-family: 'source sans pro';
	font-weight: bold;
}

 .letterMarkers{
 	border-bottom: 3px solid black;
 }


.gameContainer{
	display: flex;
	justify-content: center;
	height: 100%;
	min-height: 426px;
	box-sizing: border-box;
}

.screenContainer {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	width: 100%;
	flex-direction: column;
	height: 650px;
	min-width: 880px;
	box-sizing: border-box;
	justify-content: center;
}

#userSidebar{
	height: 100%;
	width: 225px;
	min-height: 426px;
	box-sizing: border-box;
}

#userListBox{
	width: 100%;
	height: calc(100% - 35px);
	border-radius: 4px;
}

#userList{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
}
#userList td{
	padding-left: 5px;
	padding-right: 5px;
}

#userList tr:nth-child(4n + 1),
	#userList tr:nth-child(4n + 4) {
	background-color: rgb(230, 230, 230);
}

#userList tr:nth-child(4n + 2),
	#userList tr:nth-child(4n + 3) {
	background-color: rgb(200, 200, 200);
}

.playerNames{
	min-width: 135px;
	font-size: 14px;
}

.playerScores{
	min-width: 135px;
	font-size: 8px;
}

.toolBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 5px;
}

.toolBar table {
	float: left;
	border-collapse: collapse;
	margin-left: 2px;
}

.toolBar tr {
	margin: 0;
	padding: 0;
	height: 20px;
}

.toolBar td img {
	float: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.toolBar td {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
}

.left-margin {
	margin-left: 5px;
}

.left-margin-neg {
	margin-left: -3px;
}

.right-margin {
	margin-right: 2px;
}

.top-margin {
	margin-top: 5px;
}

.neg-margin {
	margin-right: -9px;
}

.button-background {
	color: white;
	background-color: #FF941C;
	border: 2px outset #FF941C;
	border-radius: 10px;
	padding: 2px;
}

.button-on-click:active {
	background-color: #1d91c3;
	border:2px outset #1d91c3;
	transition: background 0.1s linear;
}

.hvr-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
}

.hvr-bubble-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
}

.hvr-bubble-left:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	border-style: solid;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	top: calc(50% - 10px);
	left: 0;
	border-width: 10px 10px 10px 0;
	border-color: transparent #FF941C transparent transparent;
}

.hvr-bubble-left:hover:before, .hvr-bubble-left:focus:before, .hvr-bubble-left:active:before {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}


.border {
	border: 1px solid #696969;
	border-radius: 10px;
}

.drawer, .guessed, .thirdCol{
  	min-width: 35px;
}

.pencil{
	width: 35px;
	height: 35px;
}

#kickButton{
	width: 100%;
	text-align: center;
}

#voteKick{
	width: 100%;
	border-radius: 4px;
	height: 25px;
	background-color: #FF941C;
	margin-top: 5px;
}

.drawingContainer{
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 602px;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	box-sizing: border-box;
}

.no-selection {
	-webkit-user-select: none; /* prevent selection */
	-moz-user-select: none; /* prevent selection */
	-ms-user-select: none; /* prevent selection */
}

.canvasContainer {
	display: flex;
	position: relative;
}

#canvas {
	box-sizing: border-box;
	z-index: 1;
	position: relative;
}

#sessionUpdateDisplay {
	width: 600px;
	height: 500px;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	display:flex;
	z-index: 2;
	background-color: rgba(124, 124, 124, 0.54);
	margin: 0;
}



#sessionUpdateText {
	display: flex;
	flex-direction: column;
}

ol {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

li {
  margin-bottom: 10px;
}

#nameSpan {
	margin-right: 50px;
}

#scoreSpan {
	margin-left: 50px;
}

#chatSidebar{
	width: 340px;
	height: 100%;
	min-height: 426px;
	box-sizing: border-box;
	border-radius: 4px;
}

textarea {
	resize: none;
	width: 100%;
	background-color: rgba(255, 255, 255, .6);
	color: black;
	font-size: 14px;
}

button:focus {
	outline:0;
}

input:focus {
	outline:0;
}

.button-click:active {
	border: 2px inset #FF941C;
}

#chatField {
	width: calc(100% - 10px);
	box-sizing: border-box;
	margin: 10px 5px 0px 5px;
	height: 92%;
	border-radius: 4px;
}

#chatText {
	width: calc(100% - 70px);
	box-sizing: border-box;
	margin-left: 5px;
	float: left;
	border-radius: 4px;
	border: 1px solid lightgray;
	height: 25px;
	padding: 2px;
}

#chatButton {
	width: 50px;
	box-sizing: border-box;
	float: right;
	margin-right: 5px;
	border-radius: 4px;
	background-color: #FF941C;
}
